--
-- PostgreSQL database dump
--

\restrict WUuBK8URnvb3YRrhSn1b8JKhpugGGPDFnndSrbJTbt1fJrGtqZnIbaxSaZM9g8I

-- Dumped from database version 18.3
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: attempts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.attempts (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    student_id uuid,
    scenario_id uuid,
    started_at timestamp without time zone DEFAULT now(),
    completed_at timestamp without time zone,
    status character varying(20) DEFAULT 'active'::character varying,
    CONSTRAINT attempts_status_check CHECK (((status)::text = ANY ((ARRAY['active'::character varying, 'completed'::character varying, 'abandoned'::character varying])::text[])))
);


ALTER TABLE public.attempts OWNER TO postgres;

--
-- Name: class_enrolments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.class_enrolments (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    class_id uuid,
    student_id uuid,
    enrolled_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.class_enrolments OWNER TO postgres;

--
-- Name: classes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.classes (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(255) NOT NULL,
    teacher_id uuid,
    enrolment_code character varying(20) NOT NULL,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.classes OWNER TO postgres;

--
-- Name: injects; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.injects (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    phase_id uuid,
    title character varying(255) NOT NULL,
    description text,
    file_path character varying(500),
    file_type character varying(50),
    min_delay_minutes integer DEFAULT 0,
    max_delay_minutes integer DEFAULT 5,
    created_at timestamp without time zone DEFAULT now(),
    release_type character varying(30) DEFAULT 'random_in_phase'::character varying NOT NULL,
    guaranteed_release_minutes integer,
    notify_student boolean DEFAULT true NOT NULL,
    file_name character varying(255),
    scenario_id uuid,
    CONSTRAINT injects_release_type_check CHECK (((release_type)::text = ANY ((ARRAY['random_in_phase'::character varying, 'guaranteed_in_phase'::character varying, 'random_in_scenario'::character varying, 'guaranteed_in_scenario'::character varying])::text[])))
);


ALTER TABLE public.injects OWNER TO postgres;

--
-- Name: objectives; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.objectives (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    scenario_id uuid,
    description text NOT NULL,
    objective_type character varying(10) DEFAULT 'main'::character varying NOT NULL,
    order_index integer DEFAULT 0 NOT NULL,
    correct_answer text,
    max_attempts integer,
    max_score numeric(5,2) DEFAULT 10,
    CONSTRAINT objectives_objective_type_check CHECK (((objective_type)::text = ANY ((ARRAY['main'::character varying, 'side'::character varying])::text[])))
);


ALTER TABLE public.objectives OWNER TO postgres;

--
-- Name: phases; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.phases (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    scenario_id uuid,
    title character varying(255) NOT NULL,
    description text,
    order_index integer NOT NULL,
    unlock_time_minutes integer DEFAULT 0,
    duration_minutes integer DEFAULT 30 NOT NULL,
    requires_completion boolean DEFAULT false NOT NULL
);


ALTER TABLE public.phases OWNER TO postgres;

--
-- Name: questions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.questions (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    phase_id uuid,
    question_text text NOT NULL,
    created_at timestamp without time zone DEFAULT now(),
    question_type character varying(25) DEFAULT 'phase_question'::character varying NOT NULL,
    blocks_progression boolean DEFAULT false NOT NULL,
    order_index integer DEFAULT 0 NOT NULL,
    scenario_id uuid,
    max_score numeric(5,2) DEFAULT 10 NOT NULL,
    CONSTRAINT questions_question_type_check CHECK (((question_type)::text = ANY ((ARRAY['phase_question'::character varying, 'end_of_scenario'::character varying])::text[])))
);


ALTER TABLE public.questions OWNER TO postgres;

--
-- Name: responses; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.responses (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    attempt_id uuid NOT NULL,
    student_id uuid NOT NULL,
    question_id uuid,
    objective_id uuid,
    answer text,
    score numeric(5,2),
    is_correct boolean,
    is_locked boolean DEFAULT false NOT NULL,
    attempts_used integer DEFAULT 0 NOT NULL,
    submitted_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    CONSTRAINT responses_source_check CHECK ((((question_id IS NOT NULL) AND (objective_id IS NULL)) OR ((question_id IS NULL) AND (objective_id IS NOT NULL))))
);


ALTER TABLE public.responses OWNER TO postgres;

--
-- Name: scenario_classes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.scenario_classes (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    scenario_id uuid NOT NULL,
    class_id uuid NOT NULL,
    assigned_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.scenario_classes OWNER TO postgres;

--
-- Name: scenarios; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.scenarios (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    title character varying(255) NOT NULL,
    description text,
    difficulty character varying(20),
    created_by uuid,
    created_at timestamp without time zone DEFAULT now(),
    is_published boolean DEFAULT false,
    estimated_time_minutes integer,
    CONSTRAINT scenarios_difficulty_check CHECK (((difficulty)::text = ANY ((ARRAY['easy'::character varying, 'medium'::character varying, 'hard'::character varying])::text[])))
);


ALTER TABLE public.scenarios OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    first_name character varying(100) NOT NULL,
    last_name character varying(100) NOT NULL,
    email character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    role character varying(20) NOT NULL,
    created_at timestamp without time zone DEFAULT now(),
    CONSTRAINT users_role_check CHECK (((role)::text = ANY ((ARRAY['student'::character varying, 'teacher'::character varying, 'admin'::character varying])::text[])))
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: attempts attempts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attempts
    ADD CONSTRAINT attempts_pkey PRIMARY KEY (id);


--
-- Name: class_enrolments class_enrolments_class_id_student_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.class_enrolments
    ADD CONSTRAINT class_enrolments_class_id_student_id_key UNIQUE (class_id, student_id);


--
-- Name: class_enrolments class_enrolments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.class_enrolments
    ADD CONSTRAINT class_enrolments_pkey PRIMARY KEY (id);


--
-- Name: classes classes_enrolment_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.classes
    ADD CONSTRAINT classes_enrolment_code_key UNIQUE (enrolment_code);


--
-- Name: classes classes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.classes
    ADD CONSTRAINT classes_pkey PRIMARY KEY (id);


--
-- Name: injects injects_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.injects
    ADD CONSTRAINT injects_pkey PRIMARY KEY (id);


--
-- Name: objectives objectives_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.objectives
    ADD CONSTRAINT objectives_pkey PRIMARY KEY (id);


--
-- Name: phases phases_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.phases
    ADD CONSTRAINT phases_pkey PRIMARY KEY (id);


--
-- Name: questions questions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.questions
    ADD CONSTRAINT questions_pkey PRIMARY KEY (id);


--
-- Name: responses responses_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.responses
    ADD CONSTRAINT responses_pkey PRIMARY KEY (id);


--
-- Name: scenario_classes scenario_classes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.scenario_classes
    ADD CONSTRAINT scenario_classes_pkey PRIMARY KEY (id);


--
-- Name: scenario_classes scenario_classes_scenario_id_class_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.scenario_classes
    ADD CONSTRAINT scenario_classes_scenario_id_class_id_key UNIQUE (scenario_id, class_id);


--
-- Name: scenarios scenarios_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.scenarios
    ADD CONSTRAINT scenarios_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: attempts attempts_scenario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attempts
    ADD CONSTRAINT attempts_scenario_id_fkey FOREIGN KEY (scenario_id) REFERENCES public.scenarios(id);


--
-- Name: attempts attempts_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attempts
    ADD CONSTRAINT attempts_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.users(id);


--
-- Name: class_enrolments class_enrolments_class_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.class_enrolments
    ADD CONSTRAINT class_enrolments_class_id_fkey FOREIGN KEY (class_id) REFERENCES public.classes(id);


--
-- Name: class_enrolments class_enrolments_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.class_enrolments
    ADD CONSTRAINT class_enrolments_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.users(id);


--
-- Name: classes classes_teacher_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.classes
    ADD CONSTRAINT classes_teacher_id_fkey FOREIGN KEY (teacher_id) REFERENCES public.users(id);


--
-- Name: injects injects_phase_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.injects
    ADD CONSTRAINT injects_phase_id_fkey FOREIGN KEY (phase_id) REFERENCES public.phases(id) ON DELETE CASCADE;


--
-- Name: injects injects_scenario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.injects
    ADD CONSTRAINT injects_scenario_id_fkey FOREIGN KEY (scenario_id) REFERENCES public.scenarios(id) ON DELETE CASCADE;


--
-- Name: objectives objectives_scenario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.objectives
    ADD CONSTRAINT objectives_scenario_id_fkey FOREIGN KEY (scenario_id) REFERENCES public.scenarios(id) ON DELETE CASCADE;


--
-- Name: phases phases_scenario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.phases
    ADD CONSTRAINT phases_scenario_id_fkey FOREIGN KEY (scenario_id) REFERENCES public.scenarios(id) ON DELETE CASCADE;


--
-- Name: questions questions_phase_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.questions
    ADD CONSTRAINT questions_phase_id_fkey FOREIGN KEY (phase_id) REFERENCES public.phases(id) ON DELETE CASCADE;


--
-- Name: questions questions_scenario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.questions
    ADD CONSTRAINT questions_scenario_id_fkey FOREIGN KEY (scenario_id) REFERENCES public.scenarios(id) ON DELETE CASCADE;


--
-- Name: responses responses_attempt_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.responses
    ADD CONSTRAINT responses_attempt_id_fkey FOREIGN KEY (attempt_id) REFERENCES public.attempts(id) ON DELETE CASCADE;


--
-- Name: responses responses_objective_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.responses
    ADD CONSTRAINT responses_objective_id_fkey FOREIGN KEY (objective_id) REFERENCES public.objectives(id) ON DELETE SET NULL;


--
-- Name: responses responses_question_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.responses
    ADD CONSTRAINT responses_question_id_fkey FOREIGN KEY (question_id) REFERENCES public.questions(id) ON DELETE SET NULL;


--
-- Name: responses responses_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.responses
    ADD CONSTRAINT responses_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.users(id);


--
-- Name: scenario_classes scenario_classes_class_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.scenario_classes
    ADD CONSTRAINT scenario_classes_class_id_fkey FOREIGN KEY (class_id) REFERENCES public.classes(id) ON DELETE CASCADE;


--
-- Name: scenario_classes scenario_classes_scenario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.scenario_classes
    ADD CONSTRAINT scenario_classes_scenario_id_fkey FOREIGN KEY (scenario_id) REFERENCES public.scenarios(id) ON DELETE CASCADE;


--
-- Name: scenarios scenarios_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.scenarios
    ADD CONSTRAINT scenarios_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- PostgreSQL database dump complete
--

\unrestrict WUuBK8URnvb3YRrhSn1b8JKhpugGGPDFnndSrbJTbt1fJrGtqZnIbaxSaZM9g8I

